{% block title %} <title>Curriculum</title> {% endblock %}

{% extends 'template.html' %}

{% block content %}

<script>
    function myFunction(id_quadro) {
        ids_quadros = ["experiencias", "habilidades", "formacao", "certificados", "projetos"];
        ids_quadros.forEach(id => {
            var elemento = document.getElementById(id);
            id === id_quadro && elemento.style.display === "none" ? elemento.style.display = "flex" : elemento.style.display = "none";
        });
    }
</script>

<h1 class="curriculum__titulo">Curriculo</h1>

<div class="curriculo__button_pannel">
    <button class="curriculo__button_pannel--botao" onclick="myFunction('experiencias')">Experiências profissionais</button>
    <button class="curriculo__button_pannel--botao" onclick="myFunction('habilidades')">Habilidades</button>
    <button class="curriculo__button_pannel--botao" onclick="myFunction('formacao')">Formação acadêmica</button>
    <button class="curriculo__button_pannel--botao" onclick="myFunction('certificados')">Certificados</button>
    <button class="curriculo__button_pannel--botao" onclick="myFunction('projetos')">Projetos desenvolvidos</button>
</div>

<article class="curriculo__listas">
    <div class="curriculo__listas--experiencias" id="experiencias" style="display: none;">
        <h2 class="curriculo__listas--experiencias__titulo">Experiências profissionais</h2>
        <ul class="curriculo__listas--experiencias__lista">
            {% for experiencia in experiencias %}
            <li class="curriculo__listas--experiencias__lista--conteudo">
                <h3 class="curriculo__listas--experiencias__lista--conteudo__titulo">{{ experiencia.cargo }} - {{ experiencia.empresa }}</h3>
                <h4 class="curriculo__listas--experiencias__lista--conteudo__periodo">Período: {{ experiencia.periodo_inicio }} - {{ experiencia.periodo_final }}</h4>
                <p class="curriculo__listas--experiencias__lista--conteudo__paragrafo">{{ experiencia.descricao }}</p>
            </li>
            <hr class="listas__curriculo--projetos__lista--lista__espaco">
            {% endfor %}
        </ul>
    </div>
    <div class="listas__curriculo--habilidades" id="habilidades" style="display: none;">
        <h2 class="listas__curriculo--habilidades__titulo">Habilidades</h2>
        <ul class="listas__curriculo--habilidades__lista">
            {% for habilidade in habilidades.habilidades %}
            <li class="listas__curriculo--habilidades__lista--conteudo">{{ habilidade }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="listas__curriculo--formacao" id="formacao" style="display: none;">
        <h2 class="listas__curriculo--formacao__titulo">Formação Acadêmica</h2>
        {% for formacao in lista_formacoes %}
        <div class="listas__curriculo--formacao__conteudo">
            <h3 class="listas__curriculo--formacao__conteudo--titulo">{{ formacao.curso }} - {{ formacao.instituto }}</h3>
            <p class="listas__curriculo--formacao__conteudo--paragrafo">Período: {{ formacao.periodo }}</p>
        </div>
        <hr class="listas__curriculo--projetos__lista--lista__espaco">
        {% endfor %}
    </div>
    <div class="listas__curriculo--certificados" id="certificados" style="display: none;">
        <h2 class="listas__curriculo--certificados__titulo">Certificados</h2>
        {% for certificado in lista_cretificados %}
        <div class="listas__curriculo--certificados__conteudo">
            <h3 class="listas__curriculo--certificados__conteudo--titulo">{{ certificado.curso }} - {{ certificado.instituto }}</h3>
            <p class="listas__curriculo--certificados__conteudo--paragrafo">Carga horária: {{ certificado.carga_horaria }} - <a class="listas__curriculo--certificados__conteudo--link" href="{{ certificado.link }}">Certificado online</a></p>
        </div>
        <hr class="listas__curriculo--projetos__lista--lista__espaco">
        {% endfor %}
    </div>
    <div class="listas__curriculo--projetos" id="projetos" style="display: none;">
        <h2 class="listas__curriculo--projetos__titulo">Experiências com programação</h2>
        {% for projeto in lista_projetos %}
        <div class="listas__curriculo--projetos__lista">
            <h3 class="listas__curriculo--projetos__lista--titulo">{{ projeto.nome }}</h3>
            <ul class="listas__curriculo--projetos__lista--lista">
                {% for recurso in projeto.recursos_usados %}
                <li>{{ recurso }}</li>
                {% endfor %}
            </ul>
        </div>
        <hr class="listas__curriculo--projetos__lista--lista__espaco">
        {% endfor %}
    </div>
</article>

{% endblock %}